<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/inventory"></ion-back-button>
    </ion-buttons>
    <ion-title>Préférences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="preferencesForm" (ngSubmit)="savePreferences()">
    <ion-list>
      <ion-list-header>
        <ion-label>Budgets</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input label="Budget Total (€)" labelPlacement="stacked" type="number" formControlName="totalBudget"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Budget Mensuel Cible (€)" labelPlacement="stacked" type="number" formControlName="monthlyBudget"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding-top">
      <ion-button type="submit" [disabled]="!preferencesForm.dirty" expand="block">
        Sauvegarder
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
      <div *ngIf="saveStatus" class="ion-text-center ion-padding-top">
        <ion-note>{{ saveStatus }}</ion-note>
      </div>
    </div>
  </form>

  <div class="ion-padding-top">
     <ion-button (click)="logout()" expand="block" color="danger" fill="outline">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Déconnexion
      </ion-button>
  </div>
</ion-content>
